
@-webkit-keyframes first-start-animate {
    0%   {left:0%; top:20%;}
    33%  {left:0%; top:50%;}
    66%  {left:75%; top:50%;}
    100% {left:75%; top:20%;}
}

@-moz-keyframes first-start-animate {
    0%   {left:0%; top:20%;}
    33%  {left:0%; top:50%;}
    66%  {left:75%; top:50%;}
    100% {left:75%; top:20%;}
}

@-ms-keyframes first-start-animate {
    0%   {left:0%; top:20%;}
    33%  {left:0%; top:50%;}
    66%  {left:75%; top:50%;}
    100% {left:75%; top:20%;}
}

@-webkit-keyframes second-start-animate {
    0%   {left:0%; top:20%;}
    33%  {left:0%; top:50%;}
    66%  {left:75%; top:50%;}
    100% {left:75%; top:20%;}
}

@-moz-keyframes second-start-animate {
    0%   {left:0%; top:20%;}
    33%  {left:0%; top:50%;}
    66%  {left:75%; top:50%;}
    100% {left:75%; top:20%;}
}

@-ms-keyframes second-start-animate {
    0%   {left:0%; top:20%;}
    33%  {left:0%; top:50%;}
    66%  {left:75%; top:50%;}
    100% {left:75%; top:20%;}
}

@-webkit-keyframes divShadow {
    from {opacity:0;}
    to {opacity:0.70;}
}

@-ms-keyframes divShadow {
    from {opacity:0;}
    to {opacity:0.70;}
}

@-moz-keyframes divShadow {
    from {opacity:0;}
    to {opacity:0.70;}
}

@-webkit-keyframes divShow {
    from  {left:30%;top:-50%;opacity:0;}
    to    {left:30%;top:10%;opacity:1;}
}

@-ms-keyframes divShow {
    from  {left:30%;top:-50%;opacity:0;}
    to    {left:30%;top:10%;opacity:1;}
}

@-moz-keyframes divShow {
    from  {left:30%;top:-50%;opacity:0;}
    to    {left:30%;top:10%;opacity:1;}
}

.first-animate {
    -webkit-animation-name: first-start-animate;
    -moz-animation-name: first-start-animate;
    -o-animation-name: first-start-animate;
    -ms-animation-name:first-start-animate;
    -webkit-animation-duration: 50ms;
    animation-name: first-start-animate;
    animation-duration: 50ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.second-animate{
    -webkit-animation-name: second-start-animate;
    -moz-animation-name: second-start-animate;
    -o-animation-name:second-start-animate;
    -ms-animation-name:second-start-animate;
    -webkit-animation-duration: 50ms;
    animation-name: second-start-animate;
    animation-duration: 50ms;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.background-animate {
    -webkit-animation-name: divShadow;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: divShadow;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: divShadow;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
}

.helpDiv-animate {
    -webkit-animation-name: divShow;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-name: divShow;
    -moz-animation-duration: 1s;
    -moz-animation-fill-mode: forwards;
    -ms-animation-name: divShow;
    -ms-animation-duration: 1s;
    -ms-animation-fill-mode: forwards;
}
